#products-toolbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 50px;
}

.products-toolbar__search-form {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.products-toolbar__btn-search {
  background-color: var(--main-color);
  border: solid 1px var(--second-color);
  border-radius: 0 6px 6px 0px;
  color: var(--main-text-color);
}

.products-toolbar__btn-search:hover {
  cursor: pointer;
  background-color: var(--gray-color);
}

#products-toolbar__search-box {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px 0 0 6px;
  padding-left: 10px;
  text-align: left;
  font-size: var(--fontSize__s-l);
  background-color: var(--gray-color);
  border: none;
}

#products-toolbar__search-box::placeholder {
  color: var(--placeholder-gray-color);
  font-size: var(--fontSize__s-m);
}

#products-toolbar__filter-box {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

#products-toolbar__sort-buttons {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-toolbar__btn-sort-off {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 70%;
  font-size: var(--fontSize__s-m);
  background-color: var(--main-color);
  color: var(--placeholder-gray-color);
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  text-decoration: none;
  border-radius: 6px;
}

.products-toolbar__btn-sort-on {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 70%;
  font-size: var(--fontSize__s-m);
  background-color: var(--main-color);
  color: var(--placeholder-gray-color);
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px var(--second-color);
  border-radius: 6px;
  text-decoration: none;
}

.products-toolbar__btn-sort-off:hover {
  background-color: var(--second-color);
  border: solid 1px var(--second-color);
  color: var(--main-color);
  cursor: pointer;
}

#products-toolbar__filter-buttons {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;
  align-items: center;
}

.products-toolbar__btn-filter-off {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 70%;
  font-size: var(--fontSize__s-m);
  background-color: var(--main-color);
  border: none;
  color: var(--placeholder-gray-color);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.products-toolbar__btn-filter-on {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 70%;
  font-size: var(--fontSize__s-m);
  background-color: var(--second-color);
  border: solid 1px var(--second-color);
  color: var(--main-color);
  text-decoration: none;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.products-toolbar__btn-filter-off:hover {
  border: var(--second-color) solid 1px;
  color: var(--main-text-color);
  cursor: pointer;
  border-radius: 6px;
}

@media (max-width: 1023px) {
  #products-toolbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .products-toolbar__search-form {
    width: 100%;
    height: 50px;
  }

  #products-toolbar__filter-box {
    width: 100%;
    margin-bottom: 30px;
  }

  #products-toolbar__filter-buttons {
    margin-left: 0px;
    height: 50px;
  }

  #products-toolbar__sort-buttons {
    height: 50px;
  }
}
